body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    max-width: 16px;
}

.square {
    height: 1px;
    width: 1px;
    background-color: black;
}